@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Whisper&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}

div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    background-color: hsl(0, 0%, 100%);
    width: 390px;
    height: 550px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}

.container-main img {
    margin-top: 15px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.container-text {
    width: 70%;
    text-align: center;
    display: inline-block;
}

.container-text h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.container-text p {
    color: hsl(220, 15%, 55%);
}



/*- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)*/